body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 640px;
    height: 480px;
}
@media (max-width: 960px) {
    img {
        width: 320px;
        height: 240px;
    }
}

label {
    vertical-align: middle;
}

input {
    box-sizing: content-box;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 2px;
}

select {
    box-sizing: content-box;
    height: 24px;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 2px;
}

.title-bar {
    background-color: #006E47;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
}

.g-margin {
    margin: 8px;
}

.g-padding {
    padding: 8px;
}

.g-end {
    margin: auto 0 0 0;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 14px;
    padding-right: 0px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 260px;
}

.ctrl {
    display: flex;
    flex-direction: row;
}
@media (max-width: 580px) {
    .ctrl {
        flex-direction: column;
    }
}

.img-field {
    text-align: center;
}

.marker {
    position: absolute;
    width: 80px;
    height: 80px;
    pointer-events: none;
  }

.ctrl-btns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
@media (max-width: 960px) {
    .ctrl-btns {
        grid-template-rows: 160px 60px 60px 60px;
        margin-left: 0;
    }
}

.cd-field {
    text-align: left;
    font-size: 24px;
}
@media (max-width: 960px) {
    .cd-field {
        font-size: 20px;
    }
}

/* .large-btn {
    height: 100%;
} */

.ctrl-btn {
    font-size: 60px;
    width: 80%;
    height: 90%;
}
@media (max-width: 960px) {
    .ctrl-btn {
        font-size: 40px;
        width: 60%;
    }
}

.manual-ctrl {
    margin-top: 10px;
}

.manual-ctrl-field {
    display: grid;
    grid-template-columns: 640px 1fr;
    padding-top: 8px;
}
@media (max-width: 960px) {
    .manual-ctrl-field {
        grid-template-columns: 320px 1fr;
        font-size: 40px;
    }
}
@media (max-width: 580px) {
    .manual-ctrl-field {
        display: flex;
        flex-direction: column;
    }
}

.manual-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.manual-btn {
    font-size: 60px;
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
}
@media (max-width: 960px) {
    .manual-btn {
        font-size: 30px;
        width: 60%;
    }
}

.btn-top {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.btn-bottom {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    transform: rotate(180deg);
}

.btn-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    transform: rotate(-90deg);
}

.btn-right {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    transform: rotate(90deg);
}

.btn-center {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.manual-inputs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* gap: 2px; */
    margin-left: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
@media (max-width: 960px) {
    .manual-inputs {
        grid-template-rows: 60px 60px 60px 80px;
        margin-left: 0;
    }
}

.manual-input {
    font-size: 60px;
    width: 80%;
    height: 90%;
    justify-self: center;
    align-self: center;
}
@media (max-width: 960px) {
    .manual-input {
        font-size: 40px;
        width: 60%;
    }
}

.placeholder-font-size {
    font-size: 16px;
}

.pm-font-size {
    font-size: 60px;
}
@media (max-width: 960px) {
    .pm-font-size {
        font-size: 40px;
    }
}

.manual-input-field {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 90%;
}

.manual-input-btn {
    height: 90%;
}

.ip-input {
    font-size: 12px;
    margin: auto 0 auto 0;
    vertical-align: middle;
}

#status {
    font-size: 12px;
    margin: auto;
}

#ip {
    width: 100px;
}
@media (max-width: 960px) {
    #ip {
        width: 90px;
    }
}

#port {
    width: 50px;
}
@media (max-width: 960px) {
    #port {
        width: 30px;
    }
}

#ros_domain_id {
    width: 40px;
}
@media (max-width: 960px) {
    #ros_domain_id {
        width: 30px;
    }
}

.connect {
    align-items: center;
}

.mpart {
    border-width: 0;
    height: 2px;
    background-color: #000;
    content: "";
    display: block;
}

/* @media (prefers-color-scheme: dark) {
    .mpart {
        background-color: #fff;
    }
} */