body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 640px;
    height: 480px;
}
@media (max-width: 750px) {
    img {
        width: 320px;
        height: 240px;
    }
}

label {
    vertical-align: middle;
}

input {
    box-sizing: content-box;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 2px;
}

select {
    box-sizing: content-box;
    height: 24px;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 2px;
}

.title-bar {
    background-color: #006E47;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
}

.g-margin {
    margin: 8px;
}

.g-padding {
    padding: 8px;
}

.g-end {
    margin: auto 0 0 0;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 14px;
    padding-right: 0px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 260px;
}

.ctrl {
    display: flex;
    flex-direction: row;
}
@media (max-width: 375px) {
    .ctrl {
        flex-direction: column;
    }
}

.img-field {
    text-align: center;
}

.marker {
    position: absolute;
    width: 80px;
    height: 80px;
    pointer-events: none;
  }

.ctrl-btns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
@media (max-width: 750px) {
    .ctrl-btns {
        grid-template-rows: 120px 60px 60px;
        margin-left: 0;
    }
}

.cd-field {
    text-align: left;
    font-size: 24px;
}
@media (max-width: 750px) {
    .cd-field {
        font-size: 20px;
    }
}

.large-btn {
    height: 100%;
}

.ctrl-btn {
    font-size: 60px;
    width: 80%;
    height: 90%;
}
@media (max-width: 750px) {
    .ctrl-btn {
        font-size: 40px;
        width: 60%;
    }
}

.ip-input {
    font-size: 12px;
    margin: auto 0 auto 0;
    vertical-align: middle;
}

#status {
    font-size: 12px;
    margin: auto;
}

#ip {
    width: 100px;
}
@media (max-width: 750px) {
    #ip {
        width: 90px;
    }
}

#port {
    width: 50px;
}
@media (max-width: 750px) {
    #port {
        width: 30px;
    }
}

#ros_domain_id {
    width: 40px;
}
@media (max-width: 750px) {
    #ros_domain_id {
        width: 30px;
    }
}

.connect {
    align-items: center;
}

.mpart {
    border-width: 0;
    height: 2px;
    background-color: #000;
    content: "";
    display: block;
}

/* @media (prefers-color-scheme: dark) {
    .mpart {
        background-color: #fff;
    }
} */